$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f8991b;
$yellow: #ffd500;
$green:  #86bc3b;
$blue:   #0275d8;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;
$brown: #5a4e46;

$primary: $green;

$body-bg: #fcfaf6;
$body-color: #636b6f;
$body-size: 14px;

$family-sans-serif: "alwyn-new-web", sans-serif;
$family-branding: "Quicksand", sans-serif;

// $control-radius: 0;
$input-shadow: none;

$label-color: $body-color;
